<h1>
  <strong><%= @list.name %></strong>
</h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><p><strong><%= bookmark.movie.title %></strong></p>
      <p><%= bookmark.comment %></p>
      <p><%= link_to "DESTROY BOOKMARK", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" } %></p>
    </li>
  <% end %>
</ul>
<p><%= link_to "ADD BOOKMARK", new_list_bookmark_path(@list) %></p>
<p><%= link_to "BACK TO LISTS", lists_path %></p>
